---
---

$small: 700px;
$white: #FFFFFF;
$dark-gray: #343434;
$light-background: #cde7ee;
$header-height: 10rem;


.c-header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $small) {
    flex-direction: column;
    justify-content: center;
  }


}

.c-home-background {
  transition: all 1s ease-in-out;

  .c-home--black & {
    background-color: $dark-gray;
  }

  .c-home--white & {
    background-color: $light-background;
  }
}

.c-home {
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: $small) {
    width: auto;
    height: auto;
    grid-template-rows: 10% 1fr;
    grid-template-columns: auto;
  }
}

.c-logo {
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media screen and (max-width: $small) {
  }

  svg {
    fill: currentColor
  }

  .c-home--white & {
    color: $dark-gray;
  }

  .c-home--black & {
    color: $white;
  }


}

.c-home__logo {
  transition: color 0.2s ease-in-out;

  @media screen and (max-width: $small) {
    display: none;
  }

  svg {
    fill: currentColor
  }

  .c-home--white & {
    color: $dark-gray;
  }

  .c-home--black & {
    color: $white;
  }


}

.c-home--black {
  background-color: $dark-gray;
}

.c-home--white {
  background-color: $light-background;
}

.c-home__content {

  @media screen and (max-width: $small) {
    order: 2;
    padding-bottom: 10rem;
  }

  .c-home--black & {
    color: $white;;
  }

  .c-home--white & {
    color: $dark-gray;
  }
}

.c-home__paragraph {
  opacity: 1;
}

.c-home__image-container {

  @media screen and (max-width: $small) {
    text-align: center;
    width: 100%;
    height: 100%;
    order: 1;
    margin: 0;
  }
}

.c-home__image-counter {

  .c-home--black & {
    background-color: $white;;
  }

  .c-home--white & {
    background-color: $dark-gray;
  }

  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 0;
  left: 0;
}

.c-home__image-counter-animation {
  animation: countDown 8s linear infinite;
}

@keyframes countDown {
  from {width: 100%}
  to {width: 0}
}


.c-home__image-jersey {
  animation: fadeUp 0.5s ease-in;
  position: relative;
  max-width: 100%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-nav {

  @media screen and (max-width: $small) {
    margin-top: 4rem;
  }



  a {

    .c-home--black & {
      color: $white;
    }

    .c-home--white & {
      color: $dark-gray;
    }
    text-decoration: none;
  }
}
