---
---

$small: 700px;
$white: #FFFFFF;
$dark-gray: #343434;


.c-home {
  min-height: 100vh;
  transition: background-color 0.6s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: $small) {
    width: auto;
    height: auto;
    grid-template-rows: 10% 1fr;
    grid-template-columns: auto;
  }
}

.c-logo {
  display: none;

  @media screen and (max-width: $small) {
    height: 9rem;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  svg {
    fill: currentColor
  }

  .c-home--white & {
    color: $dark-gray;
  }

  .c-home--black & {
    color: $white;
  }


}

.c-home__logo {

  @media screen and (max-width: $small) {
    display: none;
  }

  svg {
    fill: currentColor
  }

  .c-home--white & {
    color: $dark-gray;
  }

  .c-home--black & {
    color: $white;
  }


}

.c-home--black {
  background-color: $dark-gray;
}

.c-home--white {
  background-color: #cde7ee;
}

.c-home__content {

  @media screen and (max-width: $small) {
    order: 2;
    padding-bottom: 10rem;
  }

  .c-home--black & {
    color: $white;;
  }

  .c-home--white & {
    color: $dark-gray;
  }
}

.c-home__paragraph {
  opacity: 1;
}

.c-home__image-container {

  @media screen and (max-width: $small) {
    text-align: center;
    width: 100%;
    height: 100%;
    order: 1;
    margin: 0;
  }
}

.c-home__image-counter {

  .c-home--black & {
    background-color: $white;;
  }

  .c-home--white & {
    background-color: $dark-gray;
  }

  position: fixed;
  width: 100%;
  height: 0.3rem;
  border-radius: 3rem;
  top: 0;
  left: 0;
}

.c-home__image-counter-animation {
  animation: countDown 8s linear infinite;
}

@keyframes countDown {
  from {width: 100%}
  to {width: 0}
}


.c-home__image-jersey {
  animation: fadeUp 0.5s ease-in;
  position: relative;
  max-width: 100%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
